<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>706078329451238</sid>
    <event-sheet>Splash Screen</event-sheet>
    <size>
        <width>320</width>
        <height>240</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="504401825506071">
            <initially-visible>1</initially-visible>
            <background-color>37,37,37</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Particles" uid="39">
                    <properties>
                        <rate>50</rate>
                        <spray-cone>160</spray-cone>
                        <type>Continuous spray</type>
                        <initial-particle-properties></initial-particle-properties>
                        <speed>200</speed>
                        <size>8</size>
                        <opacity>100</opacity>
                        <grow-rate>0</grow-rate>
                        <x-randomiser>8</x-randomiser>
                        <y-randomiser>8</y-randomiser>
                        <speed-randomiser->0</speed-randomiser->
                        <size-randomiser>0</size-randomiser>
                        <grow-rate-randomiser>0</grow-rate-randomiser>
                        <particle-lifetime-properties></particle-lifetime-properties>
                        <acceleration>-10</acceleration>
                        <gravity>5</gravity>
                        <angle-randomiser>0</angle-randomiser>
                        <speed-randomiser>800</speed-randomiser>
                        <opacity-randomiser>0</opacity-randomiser>
                        <destroy-mode>Fade to invisible</destroy-mode>
                        <timeout>12</timeout>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>416</x>
                        <y>-64</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>2.488399982</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text3" uid="38">
                    <properties>
                        <text>Press &quot;Space&quot; to begin your METAL adventure!</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-11,400,0</font>
                        <color>51,255,204</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>192</x>
                        <y>127</y>
                        <z>0</z>
                        <width>128</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer 1" sid="493881845409096">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Player_title" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>105</x>
                        <y>134</y>
                        <z>0</z>
                        <width>207</width>
                        <height>210</height>
                        <depth>0</depth>
                        <hotspotX>0.502415478</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Logo" uid="37">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Size</movement>
                                <wave>Sine</wave>
                                <period>6</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>30</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>237</x>
                        <y>55</y>
                        <z>0</z>
                        <width>138</width>
                        <height>57</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.508771956</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
